/* components.module.css */

.panel {
    background: #ffffffd2;
    color: #f2f2f2;
    position: fixed;
    backdrop-filter: blur(2px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    z-index: 99;
    transform: translate(0, 0);
    border: 1px solid rgb(23, 214, 32);
  }
  
  .panel.active {
    transition: transform 0.3s ease;
    transform: translate(-100%, 0);
    border: 1px solid orange
  }
  
  @media (min-width: 850px) {
    .panel {
      transform: translate(0, 0);
      background: none;
      position: relative;
      border: 1px solid blue;
    }
  
    .panel.active {
      border: 1px solid red;
      transform: translate(0, 0);
    }
  }
  